@import "custom";

.rk-list {
	padding-bottom: 50px;
	padding-left: 20px;
	padding-right: 20px;
	.rk-note {
		margin-bottom: 15px;
		margin-top: 8px;
	}
	.kr-table-wrapper {
		width: 100%;
		overflow-x: auto;
	}
	table {
		width: 2000px;
		thead {
			background-color: $color-primary;
    	font-size: 14px;
    	color: #fff;
    	th {
    		padding-top: 5px;
    		padding-bottom: 5px;
				font-weight: 300;
				padding:5px;
    	}
		}
		tr {
			&.even {
				background-color: #EBF2F5;
			}
		}
		td {
			padding:5px;
			&.rk-text-warn {
				color: #DC1818;
			}
			.rk-text-accent {
				color: #111;
			}
			.rk-client-icon {
				padding: 0px 2px;
				margin-bottom: 2px;
				height: 16px;
			}
			.rk-client-txt {
				font-weight: 600;
				font-size:15px;
				padding:0 2px;
			}
			.rk-yes {
				color:#000;
			}
			.rk-no {
				color:#e7e7e7;
			}
			.rk-partial {
				color:#999;
			}
			.kr-alive {
				width: 12px;
				height: 12px;
				border-radius: 50%;
				background: #333;
				&.kr-alive-yes {
					background: #36b11c;
				}
				&.kr-alive-no {
					background: #c51717;
				}
			}
			.kr-https {
				width: 12px;
				height: 12px;
				border-radius: 50%;
				background: #333;
				&.kr-https-yes {
					background: #36b11c;
				}
				&.kr-https-no {
					background: transparent;
				}
			}
		}
		.rk-center {
			text-align: center;
		}
		.rk-right {
			text-align: right;
		}
	}
}



.rk-detail {
	.rk-header {
		margin-top: 10px;
		margin-bottom: 15px;
		overflow: hidden;
		.rk-icon {
			float: left;
			padding-right: 15px;
		}
		.rk-name {
			font-size: 21px;
		}
		.rk-url {

		}
	}
}
