<nav class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <div class="row">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>

        <%= link_to "Registr Krameriů", root_path, id: "rk-logo" %>


      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right" style="padding-right:15px;">
          <li>
            <a href="https://github.com/honza-rychtar/registr-krameriu">Vývoj</a>
          </li>                     
          <% if logged_in? %>
            <li>
              <a href="#" id="menu-refresh" style="float:left;">Obnovit</a>
              <div id="menu-loader" style="float:left;padding-top:10px;display:none;">
                <%= image_tag("loader.gif", size: "30x30", alt: "loading") %>
              </div>
            </li>
            <li>
              <%= link_to "Odhlásit", logout_path %>          
            </li>  
          <% else %>
            <li>
              <%= link_to "Přihlásit", login_path %>          
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</nav>

<% if logged_in? %>
<script>
$('#menu-refresh').click(function() { 
            //$('#menu-refresh').hide();
            //$('#menu-loader').show();
            $.ajax({
                url: '/feeder/',
                type: 'GET',
                timeout: 120000,
                success: function (result) {                  
                  //$('#menu-refresh').show();
                  //$('#menu-loader').hide();            
                }
            });  

    });
</script>
<% end %>